#logo {
    height: 70px;
}

body {
    min-height: 100vh;
}

footer {
    margin-top: 30px;
    width: 100%;
}

.prev-next-btn-container {
    margin-top: 15px;
}

.prev-next-btn-container form {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

header {
    padding-left: 100px;
    padding-right: 100px;
}

.my-custom-main {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.my-custom-card {
    display: inline-block;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 20px;
    width: 350px;
    height: 450px;
    transition: 0.5s;
}

.my-custom-card:hover {
    box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.25);
}

.my-custom-description {
    align-items: center;
    margin: auto;
    height: calc(100% - 175px);
    width: 100%;
    text-align: center;
}

.my-custom-description .item-description {
    height: 75px;
}

.my-custom-description h3 {
    height: 70px;
}
.my-custom-description #item-price {
    height: 30px;
}

.my-custom-card img {
    display: block;
    position: relative;
    width: 50%;
    margin: auto;
    align-items: center;
}